  <h2>Wiedii &ndash; a Linux-based Network Security appliance</h2>
  <h4>
    Version <a href="https://github.com/vemarsas/wiedii/blob/wiedii/Changelog"><%= Wiedii::VERSION %></a>
  </h4>
  <div style="margin-top: 5em;">
    <div>
      <div>
        <img style="width:330px" src="images/wiedii.jpg"/>
        <br/>
        <em>
          CC Hermanno12,
          <a href="https://creativecommons.org/licenses/by-sa/4.0">BY-SA 4.0</a>
          via
          <a href="https://commons.wikimedia.org/wiki/File:Leopardus_wiedii,_R%C3%A9serve_Zoologique_de_Calviac.jpg">Wikimedia Commons</a>
        </em>
      </div>
    </div>
  </div>

